<a href="/rss.xml">RSS feed</a><br />
<a href="https://gitlab.com/zagyarakushi/zagyarakushi.gitlab.io/-/archive/master/zagyarakushi.gitlab.io-master.zip">Download entire website</a><br />
<a href="https://gitlab.com/zagyarakushi/zagyarakushi.gitlab.io">View source code</a>

<!-- This code is based on footnote from Thomas Ingram's site https://taingram.org/ with some minor modifications -->
<div class="copyright">
  Copyright &copy; 2022-2025 Zagyarakushi some rights reserved<br />
  Content is available under
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    CC-BY-SA 4.0
  </a> unless otherwise noted
</div>
<div class="cc-badge">
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
    <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
  </a>
</div>
</div>
<div class="generated">
  Created with <a href="https://www.gnu.org/software/emacs/">Emacs</a> 28.1 (<a href="https://orgmode.org">Org</a> mode
  9.5.2) on <a href="https://www.gnu.org">GNU</a>/<a href="https://www.kernel.org/">Linux</a>
</div>
