<h1><a href="/" title="Zagyarakushi">Zagyarakushi</a></h1>
<nav>
  <a href="/">Home</a>
  <a href="/posts/blog.html">Blog</a>
  <a href="/projects/projects.html">Projects</a>
  <a href="/interesting.html">Interesting Stuff</a>
  <a href="/past-research/past-research.html">Past Research</a>
  <a href="/about.html">About</a>
  <a href="/donate.html">Donate</a>
</nav>
<div id="last-updated">Last Updated: %C</div>
